*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: "Font";
}

html , body {
    width: 100%;
    height: 100%;
    background-color: #fff;
}


#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 10vw;
}

#nav img{
    height: 7vw;
}

#menu{
    display: flex;
    gap: 3vw;
    font-size: 1.4vw;
}

#menu a{
    text-decoration: none;
    color: black;
}

#homeMain{
    padding: 0 15vw;
}
#heading{
    padding: 13vw 0vw;
}

#heading h4{
    font-size: 1.3vw;
    font-weight: 400;
}

#h1Names{
    display: flex;
    gap: 2vw;
    font-size: 2vw;
}

#h1Names h1{
    color: transparent;
    -webkit-text-stroke: rgba(0, 0, 0, 1) .1px;
    font-size: 6.5vw;
    letter-spacing: -.25vw;
}

#p{
    font-size: 1.5vw;
    width: 75%;
}

#p p::selection{
    color: white;
    background-color: black;
}

